body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  width: 60vw;
  height: 80vh;
  position: fixed;
  left: 20vw;
  top: 10vh;
  border: 1px solid black;
  overflow-y: scroll;
}


.select-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 55vw;
  margin-right: 2.5vw;
}